.container{
    margin-top: 10px;
    margin-bottom: 10px;

    height: 100vh;
}

.row{
    height: 100%;
}

.bars{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 60%;
}

.accordion{
    margin-bottom: 4px;
}

.main{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.bar{
    border-left: 12px solid black;
    margin-left: 2px;
}

.buttons{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.sliders{
    height: 120px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    row-gap: 3.5px;
}

@media (max-width:900px) {
    .bars{
        height: 50vh;
        margin-bottom: 1vmax;
    }
    .bar{
        border-left: 1.3vmin solid black;
    }
}